---
// export const prerender = true;

import {Debug} from "astro:components";
import {getLocales} from "@lib/i18n";
import Layout from "@layouts/Layout.astro";
import ToggleTheme from "../../components/common/ToggleTheme.astro";

const { resource, id } = Astro.params;
const {locale} = Astro.locals
const locales = getLocales()
if (!locales.includes(locale)) Astro.redirect("/404")

// export function getStaticPaths() {
//
// 	const paths = getLocales()?.map(locale => ({
// 		params: {slug: locale}
// 	}))
//
// 	return paths
// }

---

<Layout>
  <a href="/en/posts/fnakfnakj">fmalnfakjfb</a>
  {locale}
</Layout>