---
export const prerender = true;

import {getLocales} from "@lib/i18n";
import Layout from "@layouts/Layout.astro";

const locales = getLocales()

const {locale} = Astro.params
export function getStaticPaths() {
  return getLocales()?.map(locale => ({
    params: { locale: locale }
  }))
}

---

<Layout {locale}>
  <div class="h-[200vh]"></div>
</Layout>