@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --max-content-width: 90ch;
        --breakout-difference: 0.2;

        /*  Compute total allowed grid width to `--breakout-difference`
                larger than content area  */
        --breakout-grid-width: calc(
                var(--max-content-width) +
                (var(--max-content-width) * var(--breakout-difference))
        );

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-ui font-medium;
    }
}

@layer components {
    .rehype-figure > img {
            @apply mx-auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns:
      [grid-start] 1fr [breakout-start] 1fr
      [content-start] minmax(min(100%, var(--max-content-width)), 1fr)
      [content-end]
      1fr [breakout-end]
      1fr [grid-end];
        /*width: min(100% - 2rem, var(--breakout-grid-width));*/
        margin: 0 auto;
    }

    .grid-container > *:not(.breakout),
    .grid-container > *:not(.fullwidth) {
        grid-column: content;
    }

    .grid-container > .breakout {
        grid-column: breakout;
    }

    .grid-container > .fullwidth {
        grid-column: grid;
    }


    .prose {
        @apply max-w-none prose-lg prose-a:decoration-yellow-400 prose-a:decoration-2 hover:prose-a:decoration-yellow-500 hover:prose-a:text-accent-foreground prose-a:text-foreground
        prose-img:rounded-md prose-figcaption:text-center prose-figcaption:mt-0.5
        prose-blockquote:rtl:pr-10 prose-blockquote:pl-10 prose-blockquote:my-0
        prose-headings:scroll-mt-28 prose-figure:inline-flex prose-figure:flex-wrap prose-figure:items-end prose-figure:gap-4;
    }
}
