@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --max-content-width: 90ch;
        --breakout-difference: 0.2;

        /*  Compute total allowed grid width to `--breakout-difference`
                larger than content area  */
        --breakout-grid-width: calc(
                var(--max-content-width) +
                (var(--max-content-width) * var(--breakout-difference))
        );

        --background: 223 53% 99%;
        --foreground: 223 53% 4%;
        --muted: 223 34% 94%;
        --muted-foreground: 223 12% 38%;
        --popover: 223 53% 98%;
        --popover-foreground: 223 53% 3%;
        --card: 223 53% 98%;
        --card-foreground: 223 53% 3%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --primary: 2.84 76.61% 48.63%;
        --primary-foreground: 0 0% 100%;
        --secondary: 223 16% 84%;
        --secondary-foreground: 223 16% 24%;
        --accent: 223 16% 84%;
        --accent-foreground: 223 16% 24%;
        --destructive: 19 91% 28%;
        --destructive-foreground: 19 91% 88%;
        --ring: 2.84 76.61% 48.63%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 223 52% 4%;
        --foreground: 223 25% 99%;
        --muted: 223 34% 6%;
        --muted-foreground: 223 12% 62%;
        --popover: 223 52% 5%;
        --popover-foreground: 0 0% 100%;
        --card: 223 52% 5%;
        --card-foreground: 0 0% 100%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --primary: 2.84 76.61% 48.63%;
        --primary-foreground: 0 0% 100%;
        --secondary: 223 10% 16%;
        --secondary-foreground: 223 10% 76%;
        --accent: 223 10% 16%;
        --accent-foreground: 223 10% 76%;
        --destructive: 19 91% 51%;
        --destructive-foreground: 0 0% 100%;
        --ring: 2.84 76.61% 48.63%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-ui font-medium;
    }
}

@layer components {
    .rehype-figure > img {
            @apply mx-auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns:
      [grid-start] 1fr [breakout-start] 1fr
      [content-start] minmax(min(100%, var(--max-content-width)), 1fr)
      [content-end]
      1fr [breakout-end]
      1fr [grid-end];
        /*width: min(100% - 2rem, var(--breakout-grid-width));*/
        margin: 0 auto;
    }

    .grid-container > *:not(.breakout),
    .grid-container > *:not(.fullwidth) {
        grid-column: content;
    }

    .grid-container > .breakout {
        grid-column: breakout;
    }

    .grid-container > .fullwidth {
        grid-column: grid;
    }


    .prose {
        @apply max-w-none prose-lg prose-a:decoration-primary prose-a:decoration-2
         prose-table:text-foreground prose-th:text-primary prose-th:text-lg prose-th:font-fa-sans prose-th:font-bold
         hover:prose-a:decoration-primary prose-a:underline-offset-2 hover:prose-a:text-accent-foreground 
         prose-a:text-foreground prose-p:text-secondary-foreground prose-headings:text-primary-foreground
        prose-img:rounded-md prose-figcaption:text-center prose-figcaption:mt-0.5
        prose-blockquote:rtl:pr-10 prose-blockquote:pl-10 prose-blockquote:my-0
        prose-headings:scroll-mt-28 prose-figure:inline-flex prose-figure:flex-wrap prose-figure:items-end prose-figure:gap-4;
    }
}
